{% load staticfiles %}

    {% verbatim %}
    <div ng-controller="CreateEditTestCntl">
    <div class="ng-cloak">
    <label>Картинка для теста:</label>
            <span class="btn btn-success fileinput-button">
                <i class="glyphicon glyphicon-plus"></i>
                <input type="file" name="file" data-url="/tecon/api/upload_image/"
                multiple upload image-model="new_test_data.main_image_url"><span>Загрузить</span>
            </span>
            <div>
            <img ng-src="{{ new_test_data.main_image_url }}" ng-show="new_test_data.main_image_url">
                <a href="" ng-click="new_test_data.main_image_url=''" ng-show="new_test_data.main_image_url">
                <i class="glyphicon glyphicon-remove"></i>
                </a>
            </div>
    </div>
    <hr>
    <div ng-repeat="question in new_test_data.questions" class="ng-cloak">
      <div class="tecon_question" id="tecon_question_{{ $index }}">
        <h3>Вопрос {{$index+1}}</h3>
        <input type="text" ng-model="question.title" required class="form-control">
        <a href="#tecon_qestion_{{ $index-1 }}" ng-click="remove_question(question)" class="tecon_remove_question">
            удалить вопрос</a>
        <div>
            <span>Выбор типа вопроса: </span>
            <select ng-model="question.type" ng-options="t.title for t in question_types"></select>
            <i class="glyphicon glyphicon-question-sign"></i>
            <p class="small">Описание типа вопроса: {{ question.type.description }}</p>
        </div>
        <div>
            <label>Картинка для вопроса:</label>
            <span class="btn fileinput-button">
                <i class="glyphicon glyphicon-plus"></i>
                <input type="file" name="file" data-url="/tecon/api/upload_image/"
                multiple upload image-model="question.image_url"><span>Загрузить</span>
            </span>
            <div>
                <img ng-src="{{ question.image_url }}" ng-show="question.image_url">
                <a href="" ng-click="question.image_url=''" ng-show="question.image_url">
                <i class="glyphicon glyphicon-remove"></i>
                </a>
            </div>
    </div>
        <div class="tecon_variants">
          <div ng-repeat="variant in question.variants" class="tecon_question_variant">
            <label>{{ $index + 1 }} вариант ответа</label>
            <div>
                <input type="text" ng-model="variant.text" required class="form-control">
                <a href="#tecon_add_variant_{{$index}}" ng-click="remove_variant(variant, question)">x</a>
                <div ng-click="set_answer($index, variant, $parent.$index, question)">
                <span class="is_answer_label">Является ответом</span>
                <i ng-hide="variant.is_answer" class="glyphicon glyphicon-remove"></i>
                <i ng-show="variant.is_answer" class="glyphicon glyphicon-ok btn-success"></i>
                </div>
            </div>
          </div>
        </div>
        <a href="#tecon_add_variant_{{ $index }}" ng-click="add_variant($index)" id="tecon_add_variant_{{ $index }}" class="btn">добавить вариант ответа</a>
      </div>
    </div>
    <hr>
    <a href="#add_question" ng-click="add_question()" id="add_question" class="btn">добавить вопрос</a>
    <input type="hidden" name="data" value="{{ new_test_data }}" class="ng-cloak">
    </div>
    {% endverbatim %}

