    <div class="col-md-3">
        <a href="{% url 'tecon:main' %}" class="btn">Панель</a>
    </div>
    <div class="col-md-3">
        <a href="{% url 'tecon:create_test' %}" class="btn btn-primary">Создать тест</a>
    </div>
    <div class="col-md-3">
        {% if user.is_authenticated %}
            <a href="{% url 'tecon:user_tests' %}" class="btn">Мои тесты</a>
        {% endif %}
    </div>
    <div class="col-md-3">
        Поиск: <form action="{% url 'search' %}" method="get">
            <input type="text" name="q">
            </form>
    </div>
