{% extends 'layout.html' %}
{% load mptt_tags %}

{% block description %}
    Бесплатное веб-приложение для создание тестов. Здесь можно создать любой тест или пройти уже существующий.
{% endblock %}

{% block content %}
<div class="row">
    <div class="jumbotron">Создание  тестов</div>
    <div>
        <p>
            Приложение для создания тестов, например, академических.
            </p>
        <p>
            Меньше чем за минуту можно создать любой тест. Либо можно найти интересный уже существующий  тест.
        </p>
        <p>
        В данный момент, к сожалению, представлены только два типа вопросов: выбор единственного варианта из предложенных и выбор нескольких вариантов из предложенных
        </p>
        <small>
                В будущем планируется добавить возможность ограничения времени на прохождение, цветовую подсветку ответов, возможность сразу показать ответ и созранение результатов. А так же возможность добавить картинку к вариантам ответа.
        </small>
    </div>
</div>
{% endblock %}