{% extends "base.html" %}
{% load i18n %}
{% load compress %}

{% block layout %}

    {% block content_wrapper %}
    <div id="wrap">
        {% include 'partials/nav_accounts.html' %}
        {% block header %}
            {% include 'partials/header.html' %}
        {% endblock %}
        <div class="container">
            {% block content_header %}
                <div class="row">
                    {% include 'tecon/partials/search_header.html' %}
                </div>
                <hr>
            {% endblock %}
            {% block content %}{% endblock %}
        </div>
    </div>
    {% endblock %}

    {% include "partials/footer.html" %}
{% endblock %}
