{% extends "tecon/tecon_base.html" %}
{% load staticfiles %}

{% block title %}Редактирование теста{% endblock %}
{% block description %}
    Страница редактирования теста
{% endblock %}

{% block body_attrs %}ng-app="teconApp"{% endblock %}
{% block content %}
  <div class="row">
    <hr>
    <form action="{% url 'tecon:edit_test' test_id=test.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ test_form.as_p }}
        {% include 'tecon/partials/create_edit_test.html' %}
    <hr>
    <input type="submit" value="Submit" class="btn btn-primary"/>
    <a href="{% url 'tecon:delete_test' test.id %}" class="btn btn-danger">удалить <i class="glyphicon glyphicon-remove"></i></a>
    </form>
    <hr>
  </div>
{% endblock %}



{# Additional JS scripts #}
{% block extrascripts %}
    {# jquery-file-upload #}
    <script src="{% static "frontend/js/jquery/vendor/jquery.ui.widget.js" %}"></script>
    <script src="{% static "frontend/js/jquery/jquery.iframe-transport.js" %}"></script>
    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    <script src="http://blueimp.github.io/JavaScript-Load-Image/js/load-image.min.js"></script>
    <!-- The Canvas to Blob plugin is included for image resizing functionality -->
    <script src="http://blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
    <script src="{% static "frontend/js/jquery/jquery.fileupload.js" %}"></script>
    <script src="{% static "frontend/js/jquery/jquery.fileupload-process.js" %}"></script>
    <!-- The File Upload image preview & resize plugin -->
    <script src="{% static "frontend/js/jquery/jquery.fileupload-image.js" %}"></script>


    <script src="http://vk.com/js/api/xd_connection.js?2" type="text/javascript"></script>
    <script type="text/javascript">
        var test_data_exists = true;
        var test_data_url = "{% url 'tecon_api:test-detail' test.id %}"
        VK.init(function() {
         // API initialization succeeded
         // Your code here
        });
    </script>
{% endblock %}