{% extends "tecon/tecon_base.html" %}
{% load mptt_tags %}

{% block title %}Список тестов{% endblock %}
{% block description %}
    Список тестов с фильтрацией. Отображение всех созданных тестов.
{% endblock %}
{% block keywords %}
   все тесты, фильтрация тестов, {{ common_keywords }}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-3">
        <div>
            <form method="GET">
                <select id="sort" name="order" onchange="this.form.submit()" class="input-medium">
                    <option value="">-Нет-</option>
                    {% for v in config.tests_sorting %}
                        <option value="{{ v.name }}"
                        {% if request.GET.order == v.name %} selected="selected"{% endif %}>
                            {{ v.title}}
                        </option>
                    {% endfor %}
                </select>
                <input type="hidden" value="{{ request.GET.category_id }}" name="category_id">
            </form> 
        </div>
        <div>
            <h3 class="text-center">Категории</h3>
            <ul class="root">
                <li>
                    <a href='{% url "tecon:tests" %}' >все тесты</a>
                </li>
                {% recursetree categories %}
                    <li>
                        <a href='{% url "tecon:tests" %}?category_id={{ node.id }}' >{{ node.name }}</a>
                        {% if not node.is_leaf_node %}
                            <ul class="children">
                                {{ children }}
                            </ul>
                        {% endif %}
                    </li>
                {% endrecursetree %}
            </ul>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-3">
            название
            </div>
            <div class="col-md-5">
            описание
            </div>
            <div class="col-md-4">
            дата создания
            </div>
        </div>
        <hr>
        {% for test in tests %}
            <div class="row">
                <div class="col-md-3">
                <a href="{% url 'tecon:test_details' test_id=test.id %}">{{ test.title }}</a>
                </div>
                <div class="col-md-5">
                {{ test.description|truncatewords:5 }}
                </div>
                <div class="col-md-4"> {{ test.created }}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}