{% extends "tecon/tecon_base.html" %}

{% block body_attrs %}ng-app="teconApp" ng-cloak{% endblock %}
{% block content %}
  <div class="row">
    <a href="{% url 'tecon:main' %}" class="btn">на главную</a>
    <hr>
    <h2>{{ test.title }}</h2>
    <div>{{ test.description }}</div>
    <hr>
    {% verbatim %}
    <div ng-controller=TestDetailsCtrl>
      <ol>
        <li ng-repeat="question in test_data.questions">
          <p>{{ question.title }}</p>
          <img ng-src="{{question.image_url}}">
          <div>
            <div ng-repeat="variant in question.variants">
              <input type="radio" name="{{ $parent.$parent.$index }}" answer-input 
               this-question-type="question.type" question-types="question_types"
               answers="answers" question-index="{{ $parent.$parent.$index }}" variant-index="{{ $parent.$index }}">
               {{ variant.text }}
            </div>
          </div>
          <hr>
        </li>
      </ol>
      <button ng-click="check_answers()" class="btn btn-primary">Проверить тест</button>
      <div>
        <h3 ng-show="test_checked">{{ result.text }}</h3>
        <div ng-show="test_checked">
          <h4 ng-show="result.errors">Ошибки:</h4>
          <div ng-repeat="error in result.errors">
            <h5>вопрос №{{ error.question+1 }}</h5>
            <div>ваш ответ: 
              <div result-user-answer error-question="error.question" error-answer="error.user_answer" questions="test_data.questions" test-checked="test_checked"></div>
            </div>
            <div>правильный ответ:
              <div result-right-answer right-answer="error.right_answer"></div>
            </div>
          </div>
        </div>
      </div>
      <hr>
    </div>
    {% endverbatim %}
    <a href="{% url 'tecon_api:test-detail' 1 %}?format=json" class="btn">на главную</a>
  </div>
{% endblock %}



{# Additional JS scripts #}
{% block extrascripts %}
    <script>
      var test_data_exists = true;
      var test_data_url = "{% url 'tecon_api:test-detail' test.id %}?format=json"
    </script>
    <script src="http://vk.com/js/api/xd_connection.js?2" type="text/javascript"></script>
    <script type="text/javascript">
        // VK.init(function() {
        //  // API initialization succeeded
        //  // Your code here
        // });
    </script>
{% endblock %}