{% extends "tecon/tecon_base.html" %}

{% block title %}Тесты созданые мной{% endblock %}
{% block description %}
    Тесты созданые пользователем.
{% endblock %}
{% block keywords %}
   мои тесты, {{ common_keywords }}
{% endblock %}

{% block content %}
{% for test in tests %}
    <div class="row">
        <div class="col-md-4">
            <a href="{% url 'tecon:test_details' test_id=test.id %}">{{ test.title }}</a>
        </div>
        <div class="col-md-4"> создан: {{ test.created }}
        </div>
        <div class="col-md-4">
        <a href="{% url 'tecon:edit_test' test_id=test.id %}">редактировать</a>
        </div>
    </div> 
{% endfor %}
{% endblock %}